<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <bean id="alqu" class="persistencia.Alquiler"/>
    <bean id="alquCont" class="persistencia.AlquilerJpaController"/>
    <bean id="empe" class="persistencia.Empleado"/>
    <bean id="empeCont" class="persistencia.EmpleadoJpaController"/>
    <bean id="line" class="persistencia.LineaAlquiler"/>
    <bean id="lineCont" class="persistencia.LineaAlquilerJpaController"/>
    <bean id="linePK" class="persistencia.LineaAlquilerPK"/>
    <bean id="ruta" class="persistencia.Ruta"/>
    <bean id="rutaCont" class="persistencia.RutaJpaController"/>
    <bean id="vehi" class="persistencia.Vehiculo"/>
    <bean id="vehiCont" class="persistencia.VehiculoJpaController"/>
    
 

   
    <bean id="dato" class="persistencia.DatosImp">
        <property name="alq" ref="alqu"/>
        <property name="alqCon" ref="alquCont"/>
        <property name="emp" ref="empe"/>
        <property name="empCon" ref="empeCont"/>
        <property name="lin" ref="line"/>
        <property name="linCon" ref="lineCont"/>
        <property name="linPK" ref="linePK"/>
        <property name="rut" ref="ruta"/>
        <property name="rutCon" ref="rutaCont"/>
        <property name="veh" ref="vehi"/>
        <property name="vehCon" ref="vehiCont"/>
    </bean>

    <bean id="serv" class="servicio.ServicioImp">
        <property name="dat" ref="dato"/>
    </bean>
  
    <bean id="/GrabarEmpAction" class="presentacion.GrabarEmpAction">
        <property name="dat" ref="dato"/>
    </bean>
  
    <bean id="/GrabarAlquilerAction" class="presentacion.GrabarAlquilerAction">
        <property name="ser" ref="serv"/>
    </bean>

    <bean id="/NuevoAlquilerAction" class="presentacion.NuevoAlquilerAction">
        <property name="dat" ref="dato"/>
        <property name="ser" ref="serv"/>
    </bean>

    <bean id="/AgregarVehiculoAction" class="presentacion.AgregarVehiculoAction">
        <property name="ser" ref="serv"/>
    </bean>
  
    <bean id="/AgregarRutaAction" class="presentacion.AgregarRutaAction">
        <property name="ser" ref="serv"/>
    </bean>
          
    <bean id="/BuscarVehiculoAction" class="presentacion.BuscarVehiculoAction">
        <property name="dat" ref="dato"/>
    </bean>

    <bean id="/BuscarRutaAction" class="presentacion.BuscarRutaAction">
        <property name="dat" ref="dato"/>
    </bean>

</beans>
